body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../assets/images/background-image.jpg');
  background-color: #2c2c2c;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  margin: 0;
}

.header {
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
  display: inline-block;
}

.header span {
  display: inline-block;
  animation: float 3s infinite ease-in-out;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-gap: 10px;
}

.square {
  width: 50px;
  height: 50px;
  background: linear-gradient(0deg, #04596C, #02C3F4);
  border: 1px solid #333;
  border-radius: 5px;
}

@keyframes rotateY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.starred {
  background-image: url('../assets/images/star.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  animation: rotateY 2s linear infinite;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 40px;
  border-radius: 15px;
  background-color: #1E3368;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #14254a;
}

button:focus {
  outline: none;
}

.number-selector{
    margin-top: 50px;
}

.button-arrow {
    margin-right: 10px;
    margin-left: 10px;
    background-color: #1E3368;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.button-arrow:hover {
    background-color: #14254a;
}

.value {
    font-size: 24px;
    min-width: 50px;
    text-align: center;
}